<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198239262750-iemoa9ut5se79i3nqmekoo3c0tt2gcqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198239262750-iemoa9ut5se79i3nqmekoo3c0tt2gcqs</string>
	<key>API_KEY</key>
	<string>AIzaSyAIdEZWvf4aVWqrkzEd4gegaDZz93eOBzA</string>
	<key>GCM_SENDER_ID</key>
	<string>198239262750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apisod.com.buonOnlineStore.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>buon-online-store</string>
	<key>STORAGE_BUCKET</key>
	<string>buon-online-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198239262750:ios:97bd1288b5bf59b822760f</string>
</dict>
</plist>